<section class="row">
  <article class="column">
    <h2>Join existing game</h2>
    <ul>
      <%= for game_id <- @game_ids do %>
          <li>
            <%= link game_id, to: "games/#{game_id}" %>
            <!-- <a href={"games/#{game_id}"}><%= game_id %></a> -->
          </li>
      <% end %>
    </ul>
  </article>
  <article class="column">
    <h2>Start a new game</h2>
    <ul>
      <li>
        <a href="games/new">New</a>
      </li>
    </ul>
  </article>
</section>
