<section class="row">
  <article>
    <h2>Game settings</h2>
    <ul>
      <li>
        <a href="game/111111">111111</a>
      </li>
      <li>
        <a href="game/222222">222222</a>
      </li>
    </ul>
  </article>
</section>
